@use '../util/' as *;

.gradient__button {
  width: rem(205);
  height: rem(50);
  border-radius: rem(25);
  background: linear-gradient(to right, #49007c, #bc0085);
  color: #ffffff;
  font-size: rem(18);
}
