@use '../util/' as *;

.footer {
  background-color: $orange-light;

  .links {
    @include flex(center);
    width: 100%;
    height: rem(370);

    .col {
      @include flex(center, center, column);
      width: rem(370);
      line-height: rem(36);
      color: #ffffff;
      font-weight: rem(18);
    }
  }
  .footer__bg {
    height: rem(370);
    background: url("../app/assets/newsletter_bg.png") center/cover no-repeat;
  }
}
